.App {
  text-align: center;
}

.navbar {
  background-color: #9304fd;
}

.navbar-brand {
  color:white !important; 
}

.nav-link {
  color:white !important; 
}

.alignCenter {
  text-align: center;
}
